@import '../../theme/palette.scss';

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
}

.to-admin-button {
    background-color: $alert-500;
    color: $contrast-500;
    margin-left: 20px;
}