@import "../../../theme/palette.scss";

.item {
    width: 140px;
    height: 130px;

    &-title {
        margin-left: 35%;
        padding-top: 35%;
    }
}

.item-unselected {
    background-color: $primary-600;
    color: $contrast-500;
}

.item-selected {
    background-color: $primary-100;
}