<div class="container">
    @for (selectableItem of selectableItems; track selectableItem) {
    <ngt-selectable-item [selectableItem]="selectableItem"></ngt-selectable-item>
    }
</div>
<br />
<mat-progress-bar mode="determinate" value="40" />

<br />

<ng-container *ngIf="currentUser$ | async as user; else loggedOut">
    <ul>
        <li>{{ user.nickname }}</li>
        <li>{{ user.email }}</li>
    </ul>`
    <button class="log-out-button" mat-button (click)="logout()">Logout</button>
</ng-container>

<ng-template #loggedOut>
    <button class="log-in-button" mat-button (click)="logIn()">Log in</button>
</ng-template>