<div class="container">
    @for (selectableItem of selectableItems; track selectableItem) {
    <ngt-selectable-item [selectableItem]="selectableItem"></ngt-selectable-item>
    }
</div>
<br />
<mat-progress-bar mode="determinate" value="40" />

<br />

<ng-container *ngIf="userLoggedIn$ | async">
    <button class="log-out-button" mat-button (click)="logout()">Logout</button>
    <button class="to-admin-button" mat-button (click)="navigateToMultiContent()">To multi content</button>
</ng-container>